<div class="container">
  <h2 class="text-center pt-3">Encontrar multiplos 3, 5 y 7</h2>
  <h4 class="text-center py-3">Entrada</h4>
  <div class="row justify-content-center">
    
    <app-entrada (salidaMultiplo)="multiplos($event)"></app-entrada>
  </div>
  <h4 class="text-center py-3">Resultados</h4>
  <div class="row justify-content-center">
    <app-salida [statusGuardar]="true" [insertado]="numeroInsertado" (guardar)="onGuardar($event)" [multiplos3]="resultMultiplos3" [multiplos5]="resultMultiplos5" [multiplos7]="resultMultiplos7" [multiploMenor]="resultMultiploMenor"></app-salida>
  </div> 
  <h4 class="text-center py-3">Lista de multiplos guardados en firebase</h4>
  <div class="row justify-content-center">
    <app-salida *ngFor="let item of firebaseMultiplos" [statusGuardar]="false" [insertado]="item.insertar" (guardar)="onGuardar($event)" [multiplos3]="item.multiplos3" [multiplos5]="item.multiplos5" [multiplos7]="item.multiplos7" [multiploMenor]="item.menor"></app-salida>
  </div>
</div>